<html>
  <head>
    <title> vue-modello demo </title>
    <script src="./lib/vue.js"></script>
    <script src="./vue-listen.js"></script>
    <script src="./hyper-api-client.js"></script>
    <script src="../dist/vueModello.js"></script>
    <script src="../node_modules/ajv/dist/ajv.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>

    <style>
    .error{
      color: red;
    }
    </style>
  </head>
  <body>

    <div id="demo">
      Name: <input type="text" v-model="query.name" lazy>
      <p class="error">{{ validateError.query.name }}</p>
      <button @click="doFindUser">查询用户</button>
      name: {{ query.name }}
      response.name: {{ user.name }}
      response.age: {{ user.age }}
      <table>
        <tbody>
          <tr v-for="student in list.records">
            <td>{{ student.name }}</td>
            <td>{{ student.gender | gender }}</td>
          </tr>
        </tbody>
      </table>
      <ul>
        <li v-for="course in courses"> {{ course }}</li>
      </ul>

      <ul>
        <li v-for="fav in person.favorites"> {{ fav }}</li>
      </ul>
      <button @click="$model.loadFavs">load</button>
    </div>
    <script>
      function request ({method, url, data}) {
        /*return fetch(url, {
          method,
          body: JSON.stringify(data)
        })*/
        return jQuery.ajax({
          url: url,
          method: 'post',
          dataType: 'json',
          data: data
        })
      }

      var ApiClient = HyperApiClient.createClient({doRequest: request})

      var Modello = new VueModello()
      Modello.use(HyperApiClient.VueModelloPlugin, {client: ApiClient})

      Vue.use(Modello)
      Vue.use(vueListen)

      HyperApiClient.compiler = function () {
        console.info('createCompiler')
        let ajv = new Ajv({v5: true})
        return {
          addSchema: function () {
            return ajv.addSchema.apply(ajv, Array.from(arguments))
          },
          validate: function (path, val) {
            // let len = arguments.length
            // if (len < 2 || path === '') {
            //   return validate(path).catch(function (error) {
            //     throw error.errors.reduce((error, curr) => {
            //       error[curr.dataPath] = error[curr.path] || []
            //       error[curr.dataPath].push(curr.message)
            //       return error
            //     }, {})
            //   })
            // } else if(len >= 2) {
            let isValid = ajv.validate(path, val)
            return new Promise(function (resolve, reject) {
              isValid ? resolve() : reject(ajv.errors.map(e => e.message))
            })
            // }
          }
        }
      }

      let findUserSchema = {
        href: 'http://localhost:12002/findUser',
        title: 'findUser',
        method: 'post',
        description: 'Find user by name',
        definitions: {
          name: {
            type: 'string'
          },
          age: {
            type: 'number'
          }
        },
        schema: {
          $async: true,
          properties: {
            name: {
              type: 'string'
            }
          },
          required: ['name']
        },
        targetSchema: {
          $async: true,
          properties: {
            name: {
              $ref: '#/definitions/name'
            },
            age: {
              $ref: '#/definitions/age'
            }
          }
        }
      }
      ApiClient.addSchema(findUserSchema)

      var PersonModel = {
        state: function () {
          return {
            favorites: [],
            parameters: {
              name: 'hal',
              age: 8
            }
          }
        },
        actions: {
          loadFavs ({ commit }) {
            let favs = ['dancing', 'singing']
            commit('updateFavs', favs)
          }
        },
        mutations: {
          updateFavs (state, favs) {
            state.favorites = favs
          }
        },
        watch: {
          parameters: function (context, val, oldVal) {
            console.log(val, oldVal)
          }
        }
      }

      var StudentModel = {
        mixins: {
          person: PersonModel
        },
        hyperApi: {
          findUser: {
            parameters: {
              // get () {},
              // set () {},
              valuePath: 'query',
              copyDefault: true,
              validateErrorPath: 'validateError.query'
              // setValidateError () {} // 'validateError.query'
            },
            result: {
              // set () {}, // 'user'
              valuePath: 'user',
              copyDefault: true,
              validateErrorPath: 'validateError.query'
              // setValidateError () {} // 'validateError.user'
            },
            actionName: 'queryUser'
          }
        },
        modelName: 'Student',
        state: function () {
          return {
            list: {
              total: 0,
              records: []
            },
            selectedStudent: null,
            courses: [],
            validateError: {
              query: {},
              user: {}
            }
          }
        },
        actions: {
          loadStudentByPage: function ({ commit, dispatch }, pager) {
            let response = {
              total: 100,
              students: [
                {name: 'hal', gender: 1},
                {name: 'lily', gender: 0},
                {name: 'lucy', gender: 0},
                {name: 'jim', gender: 1}
              ]
            }
            commit('updateStudentList', response.total, response.students)
            // return new Promise(function (resolve, reject) {
              // reject('error ajax')
            // })
            dispatch('loadMyCourse')
          },
          loadMyCourse: function ({ state, commit }) {
            let response = ['english', 'math']
            commit('updateCourses', response)
          }
        },
        mutations: {
          updateStudentList: function (state, total, students) {
            state.list.total = total
            state.list.records = students
          },
          updateCourses: function (state, courses) {
            state.courses = courses
          }
        }
      }

      Modello.reg(StudentModel)

      new Vue({
        el: '#demo',
        modello: {
          model: 'Student',
          states: ['person']
        },
        filters: {
          gender (val) {
            return val === 1 ? "Male" : "Female"
          }
        },
        created () {
          this.$model.loadStudentByPage({page_index: 1, page_size: 20})
          //.catch(function (error) {
          // alert(error)
          //})
        },
        methods: {
          doFindUser () {
            this.$model.queryUser().catch(function (error) {
              console.dir(error)
              alert('请求失败')
            })
          }
        }
      })
    </script>
  </body>
</html>
